
  //TOP

  .about_top
    width: 100%
    height: 60vh
    display: flex
    flex-direction: row
    padding: 0 3rem
    margin-bottom: 10rem
    @media screen and (max-width: $tablet)
      flex-direction: column-reverse
      margin-bottom: 10rem
      padding: 0 13.3rem
      margin-top: 29rem
      height: auto
    &_text
      width: 45%
      height: 100%
      padding-top: calc(10vh + 4rem)
      padding-right: 3rem
      @media screen and (max-width: $tablet)
        width: 100%
        padding: 0
      &_title
        font-size: 8rem
        line-height: 9rem
        white-space: nowrap
        position: relative
        z-index: 2
        text-shadow: 0px 0px 20px #fff
        @media screen and (max-width: $tablet)
          font-size: 8.3rem
          margin-bottom: 3rem
          line-height: 10rem

      &_context
        display: flex
        flex-direction: column
        &>p
          font-family: $LatoR
          font-size: 1.6rem
          line-height: 2.4rem
          color: $black
          margin-bottom: 1rem
          @media screen and (max-width: $tablet)
            font-size: 3rem
            line-height: 4rem
            margin-bottom: 3.3rem
          &:last-child
            margin-bottom: 0rem
    &_wrapper_img
      width: 55%
      position: relative
      padding-top: 55%
      overflow: hidden
      z-index: 1
      @media screen and (max-width: $tablet)
        width: 100%
        margin-bottom: 5rem
    &_image
      width: auto
      height: 100%
      position: absolute
      top: 0
      left: -20%
      @media screen and (max-width: $tablet)
        top: -20%
        left: 0
        width: 100%
        height: auto


  //Company us

  .about_company
    padding: 0px 3rem
    margin-bottom: 10rem
    @media screen and (max-width: $tablet)
      padding: 0 13.3rem

    &_title
      margin-bottom: 2rem

    &_content>p
      margin-bottom: 2rem
      @media screen and (max-width: $tablet)
        font-size: 2.7rem
      &:last-child
        margin-bottom: 0px

 
  //Process work//

  .about_process_work
    padding: 0 3rem 10rem
    @media screen and (max-width: $tablet)
      padding: 0 13.33rem 13.5rem

    &_title
      margin-bottom: 5rem
      @media screen and (max-width: $tablet)
        margin-bottom: 8.3rem
    &_list
      width: 100%
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      margin-bottom: 3rem
    .process_work_item
      width: calc(50% - 1.5rem)
      height: auto
      position: relative
      padding: 7rem 8.2rem 5rem
      margin-bottom: 3rem
      background-color: #FFFFFF
      box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.05)
      @media screen and (max-width: $tablet)
        width: calc(50% - 1.3rem)
        padding: 12rem 2.5rem 20rem
        margin-bottom: 5rem
      &:nth-last-child(-1n+2)
        margin-bottom: 0px
      &_num
        font-size: 10rem
        line-height: 12rem
        position: absolute
        left: 2%
        top: 3%
        @media screen and (max-width: $tablet)
          font-size: 15rem
          line-height: 20rem
          left: 5%
          top: 3%

      &_title
        font-family: $LatoB
        font-size: 2.4rem
        line-height: 3rem
        margin-bottom: 5.5rem
        @media screen and (max-width: $tablet)
          font-size: 3rem
          line-height: 3.6rem
          margin-bottom: 0rem
          padding-left: 12rem
          min-height: 14rem
      &_text
        position: relative
        z-index: 1
        text-shadow: 0px 1px 2px rgba(255, 255, 255, 1)
        @media screen and (max-width: $tablet)
          font-size: 2.6rem
          line-height: 3.3rem
      &_bg
        position: absolute
        bottom: -10%
        right: -6%
        @media screen and (max-width: $tablet)
          bottom: -10%
          right: -14%
  .about_additional_work
    display: flex
    flex-direction: row
    justify-content: space-between
    @media screen and (max-width: $tablet)
      flex-wrap: wrap
    &_item
      position: relative
      width: calc(33% - 2rem)
      height: auto
      padding: 3rem 2rem 1rem
      background-color: #FFFFFF
      box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.05)
      @media screen and (max-width: $tablet)
        width: calc(50% - 1.3rem)
        margin-bottom: 5rem
        padding: 6rem 2.5rem 5rem
        min-height: 57rem
        &:last-child
          width: 100%
          min-height: auto
          margin-bottom: 0

    .additional_work_item
      &_title
        font-family: $LatoB
        font-size: 2.4rem
        line-height: 3rem
        margin-bottom: 1rem
        @media screen and (max-width: $tablet)
          font-size: 3rem
          line-height: 4rem
          margin-bottom: 6rem
      @media screen and (max-width: $tablet)
      &_text
        font-size: 1.8rem
        line-height: 2.4rem
        @media screen and (max-width: $tablet)
          font-size: 2.6rem
          line-height: 3.3rem


  //About guarantees

  .about_guarantees
    padding: 0rem 3rem
    margin-bottom: 10rem
    @media screen and (max-width: $tablet)
      padding: 0rem 13.33rem 19rem
      margin-bottom: 0rem
    &_title
      margin-bottom: 3.5rem
      @media screen and (max-width: $tablet)
        margin-bottom: 6rem
    &_list
      padding-left: 2rem
      margin-bottom: 1rem
      &>li
        list-style-type: disc
    &_content>p
      margin-bottom: 2rem
      @media screen and (max-width: $tablet)
        margin-bottom: 3.33rem
      &:last-child
        margin-bottom: 3rem
        @media screen and (max-width: $tablet)
          margin-bottom: 5rem


    .about_certificates
      display: flex
      justify-content: space-between
      flex-direction: row
      width: 100%
    .certificate
      display: flex
      flex-direction: column
      width: calc( 50% - 1.5rem)
      &_img
        width: 100%
        padding-top: 135%
        position: relative
        margin-bottom: 2rem
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16)
        cursor: pointer
        &>img
          position: absolute
          top: 0
          left: 0
          width: auto
          height: 100%


