.footer
  display: flex
  flex-direction: column
.footer_top_content
  padding: 0  3rem
  display: flex
  padding-bottom: 5rem
  position: relative
  flex-direction: row
  height: 35rem
  @media screen and (max-width: $tablet)
    justify-content: space-between
    padding: 0 13.33rem
    margin-bottom: 10rem
    height: 32rem
.footer_title
  font-family: $LatoB
  font-size: 2.2rem
  line-height: 3rem
  color: $black
  margin-bottom: 2rem
  @media screen and (max-width: $tablet)
    font-size: 4rem
    line-height: 5rem
    margin-bottom: 3.5rem
//Contacts
.footer_contact_info
  width: 23%
  margin-right: 5rem
  position: relative
  display: flex
  flex-direction: column
  @media screen and (max-width: $tablet)
    width: 35%
    margin-right: 0
  &_tel>p
    font-family: $LatoB
    font-size: 1.6rem
    line-height: 2.4rem
    @media screen and (max-width: $tablet)
      font-size: 3rem
      line-height: 4rem
    &:last-child
      margin-bottom: 1rem
      @media screen and (max-width: $tablet)
        margin-bottom: 1.66rem
  &_time>p
    font-family: $LatoR
    font-size: 1.6rem
    line-height: 2.5rem
    color: $orange
    @media screen and (max-width: $tablet)
      font-size: 3rem
      line-height: 5rem
  //Footer Navigation
.footer_nav
  width: 55%
  @media screen and (max-width: $tablet)
    display: none
  &_list
    display: flex
    flex-direction: column
    flex-wrap: wrap
    height: 100%
    width: 100%
  &_link
    width: 30%
    margin-right: 5rem
    margin-bottom: 1.5rem
    &:nth-child(1n+5)
      margin-right: 0
    &:nth-child(12)
      margin-bottom: 1rem
    &:nth-child(5)
      margin-bottom: 4rem
    &>a
      font-family: $LatoR
      font-size: 1.6rem
      line-height: 2.4rem
      color: $black
      text-decoration: none
      &:hover
        color: $orange
.footer_adress
  width: 22%
  @media screen and (max-width: $tablet)
    width: 35%
  &_value
    font-family: $LatoR
    font-size: 1.6rem
    line-height: 2.4rem
    color: $black
    margin-bottom: 20px
    @media screen and (max-width: $tablet)
      font-size: 3rem
      line-height: 4rem
      margin-bottom: 3.5rem
  &_email
    font-family: $LatoR
    font-size: 1.6rem
    line-height: 3rem
    color: $black
    margin-bottom: 0.5rem
    @media screen and (max-width: $tablet)
      font-size: 3rem
      line-height: 4rem
  &_small_text
    font-family: $LatoR
    font-size: 1.4rem
    color: #707070
    line-height: 1.7rem
    @media screen and (max-width: $tablet)
      font-size: 2.33rem
      line-height: 3rem
.social_icon
  position: absolute
  bottom: 2rem
  left: 0
  @media screen and (max-width: $tablet)
    bottom: -4rem
  &>ul
    display: flex
    flex-direction: row
    &>li
      margin-right: 3.5rem
      @media screen and (max-width: $tablet)
        width: 2.5rem
        height: 2.5rem
.footer_down_content
  padding: 4rem 2rem 3rem
  background-color: #FAFAFA
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%
  @media screen and (max-width: $tablet)
    padding: 3.5rem 13.33rem
  &_company
    width: 20%
    @media screen and (max-width: $tablet)
      width: 45%
    &>p
      font-family: $RubikM
      font-size: 1.6rem
      line-height: 3rem
      color: $black
      font-weight: bold
      @media screen and (max-width: $tablet)
        font-size: 2.66rem
        line-height: 3.33rem
  &_text
    width: 65%
    font-family: $LatoR
    font-size: 1.4rem
    color: #ACACAC
    line-height: 1.8rem
    @media screen and (max-width: $tablet)
      width: 55%
      font-size: 2.33rem
      line-height: 3rem