.photo_wrapper
  padding: 0 3rem
  margin-top: 13%
  margin-bottom: 10rem
  @media screen and (max-width: $tablet)
    padding: 0 13.33rem
    margin-top: 29rem
    margin-bottom: 17rem
.photo
  display: flex
  flex-direction: row
  justify-content: space-between
  flex-wrap: wrap
  width: 100%
  margin-bottom: 5rem

  &_wrapper_img
    width: calc(33% - 1rem)
    height: 22rem
    position: relative
    margin-bottom: 3rem
    @media screen and (max-width: $tablet)
      height: auto
      width: calc(50% - 1.5rem)
    &:nth-child(3n)
      margin-right: 0
    &_view
      position: relative
      width: 100%
      height: 100%
      @media screen and (max-width: $tablet)
        height: 100%
      & > img
        position: relative
        width: 100%
        height: 100%
        transition: transform 500ms 500ms
    &:hover &_view
      z-index: 3
      transform: scale(1.5)
      transition: transform 1s 300ms
      cursor: pointer
    &:hover a
      pointer-events: none
      left: 0%
      bottom: -37%
      z-index: 2
      transform: scale(1.5)
      transition: bottom 500ms 500ms, transform 400ms 500ms
      @media screen and (max-width: $tablet)
        bottom: -7%
        transform: scale(1.5)
        z-index: 104
        transition: bottom 500ms 500ms, transform 400ms 500ms
    & > a
      font-family: $LatoR
      font-size: 1.8rem
      color: $black
      line-height: 2.4rem
      cursor: pointer
      width: 100%
      display: block
      position: absolute
      transition: bottom 100ms, transform 100ms
      background-color: #ffffff
      bottom: 30%
      left: 0%
      z-index: -1
      transform: scale(1.0)
      @media screen and (max-width: $tablet)
        line-height: 3rem

.button_more
  display: flex
  justify-content: center
  align-items: center
  &>button
    width: 25rem
    height: 40px
    border: 1px solid $orange
    border-radius: 10px
    background-color: #FFFFFF
    font-size: 1.6rem
    font-family: $LatoR
    line-height: 2rem
    color: $black
    transition: transform 500ms
    @media screen and (max-width: $tablet)
      height: 40px
      font-size: 2.66rem
      line-height: 3.33rem
    &:hover
      background-color: $orange
      transform: scale(1.1)
      font-weight: normal
      color: #ffffff
